RESEND_API_KEY=
BUDGET_TO_EMAIL=contato@dunkarley.dev
RESEND_FROM_EMAIL=Portfolio <onboarding@resend.dev>
ADMIN_PASSWORD=371515victor
GITHUB_TOKEN=
GITHUB_OWNER=victorSsx
GITHUB_REPO=next-portfolio
GITHUB_BRANCH=main
